@charset "UTF-8";

*{

    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: justify;
}

body {

    background-image: linear-gradient(to right, #f1d8c9, #f2c3Af);
    
}



main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 25px rgb(136, 109, 93, 0.616);
}

h1 {
    background-color: rgb(173, 141, 124); color: #f39209;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(129, 77, 5, 0.726);


}

h2{

    background-color: rgb(112, 103, 69);
}